
*{
    padding: 0;
    margin: 0;
    background-color: #360369;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
 }

#head{
font-family: Montserrat;
font-size: 100px;
font-weight: 700;
line-height: 122px;
letter-spacing: 0em;
align-items: center;
height: 144px;
color: white;
}

#input1{
    width: 492px;
height: 58px;
top: 478px;
background-color: white;
text-align: center;
font-size: large;
}


